body {
  text-align: center;
}

/* navigation bar section */
.navbar {
  padding-top: 30px;
}
.navbar-brand {
  margin-left: 45px;
  font-size: x-large;
}
.nav-item {
  margin-left: 20px;
}
.nav-items {
  margin-left: 45rem;
}

/* body section */
.body-h1 {
  font-family: montserrat;
  font-weight: 900;
  font-size: 70px;
}
.body-h3 {
  line-height: 1.5;
  font-family: ubuntu;
  margin-top: 30px;
}
.body-section {
  margin: 3%;
}
.body-text {
  text-align: left;
  margin-top: 40px;
}
.body-img {
  width: 600px;
}

/* About us section */
.about {
  padding-top: 100px;
  margin: 3%;
  font-family: montserrat;
}
.about-paragraph {
  text-align: left;
  font-family: ubuntu;
}

/* Our services section */
.our-services {
  margin: 0% 3%;
}
.our-services-paragraph {
  text-align: left;
  font-family: montserrat;
  margin: 1% 4%;
  padding-top: 100px;
}
.card-bighead {
  font-family: montserrat;
}
.card-input {
  font-family: ubuntu;
}

/* testimonial section */
#Testimonials-section {
  padding-top: 100px;
}
.testimonials {
  background-color: #15202b;
  padding: 10px 50px;
  margin-top: 70px;
}
.testimonial-images {
  margin-right: 20px;
  height: 300px;
  width: 250px;
  border-radius: 100%;
}
.testimonial-names {
  color: #fff;
}
.testimonials-paragraph {
  color: #fff;
  font-family: ubuntu;
  font-size: x-large;
  line-height: 2;
  margin: 5%;
}

.carousel-control-next-icon {
  margin-left: 150px;
}
.carousel-control-prev-icon {
  margin-right: 150px;
}
